# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Env
.env
.env.*

# Backend
backend/.env
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/target/
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Coverage
coverage/
metals
